#pond {
    display: flex;
/* justify-content */

    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    justify-content:space-between;

    /* align-items */

    align-items:flex-end;
    justify-content:center;
    align-items:center;
    justify-content:space-around;
    align-items:flex-end;

    /* flex-direction */

    flex-direction:row-reverse;
    flex-direction:column;
    flex-direction:row-reverse;
    justify-content:flex-end;
    flex-direction:column;
    justify-content:flex-end;
    flex-direction:column-reverse;
    justify-content:space-between;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:flex-end;

    /* order (-2,-1,0,1,2) */

    order:1;
    order:-1;

    /* align-self */

    align-self:flex-end;
    order:2;
    align-self:flex-end;

    /* flex-wrap  */

    flex-wrap:wrap;
    flex-wrap:wrap;
    flex-direction:column-reverse;
    flex-flow:column wrap;
    align-content:flex-start;
    align-content:flex-end;
    flex-direction:column-reverse;
    align-content:center;
    
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    justify-content: center;

}
